<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36433200830-6uvicoc3ctljitjt9g3fbn6hdck38hra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36433200830-6uvicoc3ctljitjt9g3fbn6hdck38hra</string>
	<key>API_KEY</key>
	<string>AIzaSyBr92S4Pl5BPrswTgFuv9HRLyedY-jY8po</string>
	<key>GCM_SENDER_ID</key>
	<string>36433200830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.go.police.crimesonline</string>
	<key>PROJECT_ID</key>
	<string>crimesonline-a0147</string>
	<key>STORAGE_BUCKET</key>
	<string>crimesonline-a0147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36433200830:ios:56325de29beef6f23180ef</string>
</dict>
</plist>